<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title">
  <title>IONIS Online Courses | Charte utilisateurs</title>
</%block>

<section class="static-container honor-code">
  <h1>Charte utilisateurs</h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
    <p>En vous inscrivant sur IONIS Online Courses, vous rejoignez une communauté mondiale d'apprenants. L'ambition de IONIS Online Courses est de fournir un accès aux meilleures formations de l’enseignement supérieur et ce quelle que soit votre localisation géographique.</p>

    <p>Tout utilisateur souhaitant accéder à IONIS Online Courses doit donc avoir préalablement consulté la présente Charte Utilisateurs ainsi que les Conditions Générales d’Utilisation et la Politique de Confidentialité qui décrivent les conditions dans lesquelles IONIS Online Courses donne accès à ses services. </p>

    <p>En s’inscrivant sur IONIS Online Courses, l’utilisateur est réputé avoir accepté, sans restriction ni réserve, les Conditions Générales d’Utilisation, la Charte Utilisateurs et la Politique de Confidentialité.</p>

    <h2>Recommandations aux utilisateurs</h2>

    <p>Sauf contre-indication de l'enseignant du cours, vous êtes encouragés à :</p>
    <ul>
      <li>Collaborer avec les autres apprenants pour la lecture des vidéos, les exercices, les devoirs et les travaux pratiques</li>
      <li>Discuter avec les autres apprenants des concepts généraux et des ressources de chaque cours</li>
      <li>Proposer des idées et éventuellement proposer les documents que vous pourrez élaborer, aux autres apprenants à des fins de commentaires</li>
    </ul>

    <h2>Engagements des utilisateurs</h2>

    <p>En complément des règles de conduite précisées dans les Conditions Générales d’Utilisation, l’utilisateur s’engage à :</p>
    <ul>
      <li>Ne pas tricher pour améliorer ses résultats</li>
      <li>Ne pas améliorer ou dégrader les résultats des autres</li>
      <li>Ne pas publier les réponses aux exercices utilisés comme mode d’évaluation des étudiants</li>
      <li>Respecter les droits de propriété intellectuelle accordés par la licence d’utilisation attachée à chaque formation en ligne (cf. conditions d’utilisation précisées au moment de l’inscription à la formation)</li>
      <li>Donner accès à l’équipe enseignante à ses données personnelles collectées dans la plateforme pour les besoins du cours suivi</li>
    </ul>

  </div>
</section>
