<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title">
  <title>IONIS Online Courses | Conditions générales d’utilisation</title>
</%block>

<section class="static-container tos">
  <h1>Conditions Générales d’Utilisation</h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
    <h2>Préambule</h2>

    <p>Les présentes Conditions générales d’utilisation décrivent les termes et conditions dans lesquels IONIS Education Group fournit un service de création et d’hébergement de contenu sur son site <a href="http://courses.ionis-group.com/" target="_blank">courses.ionis-group.com</a> (ci-après désigné par « site »).</p>

    <p>L’accès à ce site est subordonné au respect des présentes Conditions générales d’utilisation. Tout internaute souhaitant y accéder doit avoir pris connaissance préalablement de ces Conditions générales d’utilisation ainsi que ses deux annexes que sont la Charte Utilisateurs et la Politique de Confidentialité et s’engage à les respecter sans réserve.</p>

    <h2>Objet</h2>

    <p>IONIS Online Courses est une plateforme internet hébergeant des cours en ligne des établissements d’enseignement supérieur et des organismes de recherche. En vous inscrivant à un cours en ligne sur IONIS Online Courses, vous rejoignez une communauté mondiale d'apprenants. L'ambition de IONIS Online Courses est de fournir un accès aux meilleures formations de l’enseignement supérieur et ce quelle que soit votre localisation géographique.</p>

    <p>En s’inscrivant sur le site de IONIS Online Courses, l’utilisateur est réputé avoir accepté, sans restriction ni réserve, les Conditions Générales d’Utilisation, la Charte Utilisateurs et la Politique de Confidentialité. Tout accès et/ou utilisation de IONIS Online Courses est subordonné au respect de l’ensemble des termes des Conditions Générales d’Utilisation et de ses deux annexes qui en font partie intégrante, sans restriction ni réserve.</p>

    <p>Si vous ne comprenez pas ces termes ou que vous ne souhaitez pas y être liés légalement, nous vous invitons à ne pas utiliser le site internet de IONIS Online Courses, <a href="http://courses.ionis-group.com/" target="_blank">courses.ionis-group.com</a>.</p>

    <p>IONIS Online Courses se réserve donc le droit de refuser l'accès ou d’exclure, sans préjudice de tout dommage et intérêt pour l’utilisateur et sans notification préalable, tout utilisateur qui ne respecterait pas les Conditions Générales d'Utilisation, la Charte Utilisateurs et la Politique de Confidentialité, et également de supprimer toute contribution ou commentaire notamment en cas d’infraction au regard de la loi française de même qu’en cas de réclamation d’un tiers.</p>

    <p>IONIS Online Courses se réserve le droit de modifier à tout moment et sans communication préalable les Conditions Générales d'Utilisation, la Charte Utilisateurs et la Politique de Confidentialité tout en préservant ses engagements de qualité éthique. Tout changement sera immédiatement répercuté sur la présente page. La date de mise à jour sera mentionnée. L’utilisateur est donc invité à consulter régulièrement leur dernière version mise à jour. Tout accès ou utilisation de IONIS Online Courses vaut acceptation des changements effectués.</p>

    <h2>Règles de conduites de l’utilisateur</h2>

    <p>En tant qu’utilisateur du site de IONIS Online Courses, vous êtes responsable de l’utilisation du site et de vos publications. Les publications incluent l’ensemble des éléments de contenu soumis, publiés ou diffusés sur le site par vous ou d’autres utilisateurs. Par éléments de contenu, on entend les textes, les photos, les vidéos, les discussions dans le cadre des espaces d’interaction (forum, wiki, réseaux sociaux). De manière générale, IONIS Online Courses rappelle à l’Utilisateur que IONIS Online Courses ne garantit pas la véracité, la complétude, l’exhaustivité ni l’exactitude des Commentaires diffusés via le site de IONIS Online Courses par d’autres Utilisateurs.</p>

    <p>Vous reconnaissez que vous utiliserez le site en conformité avec les présentes Conditions Générales d'Utilisation, la Charte Utilisateurs et la Politique de Confidentialité.</p>

    <p>IONIS Online Courses rappelle qu’il est strictement interdit tout acte de cybercriminalité : à savoir infractions contre la confidentialité, l'intégrité et la disponibilité de l’accès, des contenus/données et systèmes informatiques du site IONIS Online Courses sans que cette liste ne soit exhaustive.</p>

    <p>Vous vous engagez ainsi à respecter les règles de déontologie informatique et notamment à ne pas effectuer intentionnellement des opérations qui pourraient avoir pour conséquence de :</p>
    <ul>
      <li>Usurper l’identité d’autrui ;</li>
      <li>S’approprier le mot de passe d’un autre utilisateur ;</li>
      <li>Modifier ou détruire des informations ne vous appartenant pas ;</li>
      <li>Accéder à des informations appartenant à d’autres utilisateurs sans leur autorisation ;</li>
      <li>Se connecter ou tenter de se connecter sur un compte sans autorisation ;</li>
      <li>Laisser quelqu’un utiliser votre nom d’utilisateur et/ou votre mot de passe ;</li>
      <li>Détourner l’une des fonctionnalités de IONIS Online Courses de son usage normal ;</li>
      <li>D’endommager, mettre hors-service, surcharger ou détériorer le serveur ou le réseau.</li>
    </ul>

    <p>Cette liste est non limitative. </p>

    <p>Vous vous engagez, par ailleurs, à ne pas essayer d’avoir un accès non autorisé au site, de recueillir sans autorisation des informations stockées sur le site, ses serveurs ou des ordinateurs associés par n'importe quels moyens non intentionnellement rendus disponibles par le site.</p>

    <p>En outre, vous vous engagez à respecter les dispositions légales et réglementaires en vigueur. Il est par conséquent formellement interdit de tenir :</p>
    <ul>
      <li>des propos à caractère raciste, xénophobe, antisémite, homophobe, négationniste, pornographique, pédophile, pédopornographique… ;</li>
      <li>des propos injurieux, diffamatoires, ou portant atteinte à la vie privée, et plus généralement aux droits de la personnalité de quiconque ;</li>
      <li>des propos portant atteinte à la dignité humaine ;</li>
      <li>des propos incitant à la violence, au suicide, au terrorisme, à l’utilisation, la fabrication ou la distribution de substances illicites ;</li>
      <li>des propos incitant aux crimes ou aux délits ou qui en font l’apologie et plus particulièrement les crimes contre l’humanité ;</li>
      <li>de porter atteintes aux droits de propriété intellectuelle de tiers (notamment textes, photographies) ou le droit à l’image des personnes (publication de la photographie d’une personne sans autorisation, pour lesquels vous ne disposez pas des autorisations nécessaires des auteurs et/ou ayants droit) ;</li>
      <li>de publier intentionnellement du contenu faux, erroné ou trompeur ;</li>
      <li>de publier des contenus faisant la promotion de services à but lucratif.</li>
    </ul>

    <p>Cette liste est non limitative.</p>

    <p>Le site IONIS Online Courses comporte des informations mises à disposition par des utilisateurs ou des liens hypertextes vers d’autres sites qui ne sont pas édités par IONIS Online Courses mais fournis ou proposés par des tiers. Le contenu mis à disposition sur le site est fourni à titre indicatif. L’existence d’un lien de ce site vers un autre site ne constitue pas une validation de ce site ou de son contenu. Il appartient donc à l’utilisateur d’exploiter ces informations avec discernement et esprit critique. Le caractère raisonnable ou actuel, l’exactitude ou l’exhaustivité du contenu de ces informations n’est pas vérifié par IONIS Online Courses. Dans ce cadre, IONIS Online Courses rejette expressément toute responsabilité.</p>

    <p>Vous vous engagez également à :</p>
    <ul>
      <li>Respecter les droits de propriété intellectuelle afférents aux contenus diffusés sur IONIS Online Courses ainsi que les droits de propriété intellectuelle des tiers conformément aux conditions d’utilisation propres à chaque cours proposé sur le site ;</li>
      <li>Respecter la vie privée des autres utilisateurs et, plus généralement, ne pas porter atteinte à leurs droits ;</li>
      <li>Ne pas porter atteinte à la confidentialité et à la sécurité des données personnelles concernant les utilisateurs de IONIS Online Courses ;</li>
      <li>Ne pas collecter de quelques façons de ce soit des informations sur les utilisateurs, y compris leur adresses e-mail, sans leur consentement.</li>
      <li>Ne pas tricher pour améliorer vos résultats ;</li>
      <li>Ne pas améliorer ou dégrader les résultats des autres ;</li>
      <li>Ne pas publier les réponses aux exercices utilisés comme mode d’évaluation des étudiants.</li>
    </ul>

    <p>En cas de manquement par un utilisateur à l’une ou l’autre des règles précitées, IONIS Online Courses se réserve le droit de lui bloquer l’accès à tout ou partie des services du site, de façon temporaire ou définitive, sans aucune contrepartie et notification à l’utilisateur.</p>

    <p>IONIS Online Courses se réserve également le droit de retirer tout ou partie des contenus, informations et données de toute nature que l’utilisateur aura mis en ligne sur la plateforme IONIS Online Courses.</p>

    <h2>Utilisation du compte utilisateur</h2>

    <p>Afin de participer pleinement aux activités offertes par le site, vous devez fournir un nom, une adresse électronique et un mot de passe afin de créer un compte d'utilisateur. Lors de l'installation de votre compte, vous pouvez être amenés à donner des informations facultatives supplémentaires.</p>

    <p>L’utilisateur est seul responsable de garder confidentiels et non accessibles ses identifiants et mots de passe. En cas de perte ou de vol de ceux-ci, ou dans l’éventualité où l’utilisateur penserait qu’un tiers a accédé à son profil, l’utilisateur s’engage à informer IONIS Online Courses en renseignant <a href="/contact/">notre formulaire en ligne</a> dans la rubrique « Contact ».</p>

    <p>Vous vous engagez à fournir des informations précises qui correspondent à votre situation actuelle. Vous consentez également à mettre à jour vos informations.</p>

    <p>L’utilisateur s'engage également à ne pas créer une fausse identité de nature à induire qui que ce soit en erreur.</p>

    <p>IONIS Online Courses s'engage à garantir la confidentialité et la sécurité de vos informations personnelles conformément à la Politique de Confidentialité.</p>

    <h2>Règles d’utilisation des contenus diffusés sur IONIS Online Courses</h2>

    <p>Les contenus (textes, cours, photographies, vidéos, etc.) diffusés sur IONIS Online Courses ne peuvent être utilisés qu’à des fins strictement personnelles.</p>

    <p>Sauf si les conditions d'utilisation des cours en ligne en disposent autrement, l’utilisateur s’interdit de reproduire et/ou d’utiliser les marques et logos présents sur le site IONIS Online Courses, ainsi que de modifier, assembler, décompiler, attribuer, sous licencier, transférer, copier, traduire, reproduire, vendre, publier, exploiter et diffuser sous quelque format que ce soit, tout ou partie des informations, textes, photos, images, vidéos et données présents sur ce site. La violation de ces dispositions impératives soumet l’utilisateur, et toutes personnes responsables, aux peines pénales et civiles prévues par la loi française.</p>

    <h2>Règles d’utilisation des contenus diffusés sur les cours en ligne hébergés par IONIS Online Courses</h2>

    <p>Vous vous engagez à respecter les conditions d'utilisation propres à chaque cours en ligne hébergé sur IONIS Online Courses qui définissent les conditions d’utilisation des contenus.</p>

    <p>Ces conditions sont précisées au moment de votre inscription à un cours en ligne hébergé sur IONIS Online Courses. En l’absence de précision lors de votre inscription à un cours en ligne, vous ne pouvez exploiter les contenus qu’à des fins personnelles et devez en mentionner les auteurs.</p>

    <h2>Règles d’utilisation des contenus que vous diffusez dans le cadre des cours en ligne hébergés par IONIS Online Courses auxquels vous êtes inscrits</h2>

    <p>Avant de diffuser des contenus, vous vous assurez de disposer des autorisations nécessaires relatives aux droits d'auteur ou autres droits de propriété intellectuelle éventuellement attachés à votre contribution et/ou commentaire, à travers notamment leur reproduction et leur diffusion sur le site. Vous veillez notamment au respect des droits de tiers (droit d’auteur, droit des marques, droit de la personnalité).</p>

    <p>Lorsque vous diffusez des contenus dans le cadre des cours en ligne, vous autorisez la reproduction et la diffusion de ces contenus, pour le monde entier, dans le seul cadre des cours en ligne sauf si les conditions d'utilisation de ces cours en disposent autrement.</p>

    <h2>Utilisation des marques et des logos</h2>

    <p>Les marques et les logos associés présents sur le site IONIS Online Courses sont protégés. Ils appartiennent par conséquent exclusivement aux organismes émetteurs. Vous ne pouvez utiliser aucun de ces signes ou leur variante sans l’accord préalable desdits organismes.</p>

    <h2>Responsabilités</h2>

    <h3>Responsabilité de l’utilisateur</h3>

    <p>L’ensemble du matériel et des logiciels nécessaires à l’accès et à l’utilisation de IONIS Online Courses est à la charge de l’utilisateur. Ce dernier est responsable du bon fonctionnement de son matériel et de son accès internet. L’utilisateur est tenu de prendre toutes les mesures préventives nécessaires à la protection de ses données, logiciels et/ou systèmes informatiques pour se prémunir contre la contamination d’éventuels virus.</p>

    <p>L’usage des contenus mis à disposition par l’intermédiaire de IONIS Online Courses relève de la seule responsabilité de l’utilisateur. Les faits ou actes que ce dernier serait amené à accomplir en considération de ces informations ne sauraient engager d’autre responsabilité que celle dudit utilisateur. L’accès aux contenus mis à disposition sur le site IONIS Online Courses relève de la responsabilité de l’utilisateur et IONIS Online Courses ne pourrait être tenu responsable pour les dégâts ou la perte de données qui pourraient résulter du téléchargement ou de l’utilisation des contenus diffusés sur le site.</p>

    <p>L’utilisateur est seul responsable, à l’égard de IONIS Online Courses et, le cas échéant, de tout tiers, de tous dommages, directs ou indirects, de quelle que nature que ce soit, causés par un contenu, et ce quelle que soit sa nature, communiqué, transmis ou diffusé par l’utilisateur par l’intermédiaire de IONIS Online Courses, ainsi que pour toute violation des présentes Conditions Générales d'Utilisation, la Charte Utilisateurs et la Politique de Confidentialité.</p>

    <h3>Responsabilité de IONIS Online Courses</h3>

    <p>Le site IONIS Online Courses est par principe accessible 24/24h, 7/7j, sauf interruption, programmée ou non, pour les besoins de sa maintenance ou cas de force majeure. Etant de fait soumis à une obligation de moyen, IONIS Online Courses ne saurait être tenu responsable de tout dommage, quelle qu’en soit la nature, résultant d’une indisponibilité du site.</p>

    <p>IONIS Online Courses met en œuvre tous les moyens raisonnables à sa disposition pour assurer un accès de qualité à ses utilisateurs, mais n'est tenu à aucune obligation d'y parvenir.</p>

    <p>IONIS Online Courses ne peut, en outre, être tenu responsable de tout dysfonctionnement du réseau ou des serveurs ou de tout autre événement échappant au contrôle raisonnable, qui empêcherait ou dégraderait son accès.</p>

    <p>IONIS Online Courses se réserve la possibilité d'interrompre, de suspendre momentanément ou de modifier sans communication préalable l'accès à tout ou partie de son site, afin d'en assurer la maintenance, ou pour toute autre raison, sans que l'interruption n'ouvre droit à aucune obligation ni indemnisation.</p>

    <p>Sauf dans le cas où IONIS Online Courses aurait été dûment informé de l'existence d'un contenu illicite au sens de la législation en vigueur, et n'aurait pas agi promptement pour le retirer, IONIS Online Courses ne peut pas être tenu responsable de la diffusion de ces contenus.</p>

    <p>En aucun cas, la responsabilité de IONIS Online Courses ne pourra par ailleurs être recherchée à l’occasion des relations qui pourraient exister entre les utilisateurs et les cours en ligne hébergés par IONIS Online Courses.</p>

    <p>IONIS Online Courses n’est pas responsable des contenus mis en ligne par les cours en ligne hébergés sur IONIS Online Courses tels que les MOOC (Massive Open Online Courses c'est-à-dire les cours en ligne ouverts et massifs) et par les utilisateurs de ces sites.</p>

    <h2>Notifications</h2>

    <p>Sauf stipulation expresse contraire, toute notification envoyée à IONIS Online Courses doit être adressée via <a href="/contact/">notre formulaire en ligne</a> dans la rubrique « Contact ». Toute notification qui vous est destinée sera envoyée en principe par e-mail à l'adresse que vous avez communiquée à IONIS Online Courses lors de votre inscription.</p>

    <h2>Juridiction compétente</h2>

    <p>Les présentes Conditions générales d’utilisation et ses deux annexes sont régies par la loi et la langue française.</p>

    <p>L’utilisateur du site de IONIS Online Courses accepte que tout litige relatif à l’interprétation, l’exécution des présentes Conditions générales d’utilisation, annexes et/ou grief lié au fonctionnement de ce site soit réglé devant une juridiction du ressort de IONIS Online Courses et ce y compris en cas de référé, de requête ou de pluralité de défendeurs.</p>
  </div>
</section>
