## mako

<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<%block name="title">
<title>IONIS Online Courses | Réinitialiser votre mot de passe</title>
</%block>

<%block name="bodyclass">view-passwordreset</%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });
    });
  </script>
</%block>

<section class="introduction">
  <header>
    <h1 class="title">
      <span class="title-super">Réinitialiser votre mot de passe</span>
      <span class="title-sub"></span>
    </h1>
  </header>
</section>

<section class="passwordreset container">
  <section role="main" class="content">
    %if validlink:
    <form role="form" id="passwordreset-form" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

      <p class="instructions">
        ${_('Please enter your new password twice so we can verify you typed it in correctly. <br /> Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.')}
      </p>

      %if form.errors:
      <div role="alert" class="status message submission-error is-shown">
        <h3 class="message-title">Impossible de réinitialiser votre mot de passe :</h3>
        <ul class="message-copy">
          <li>${_("You must complete all fields.")}</li>
          <li>${_("The two password fields didn't match.")}</li>
        </ul>
      </div>
      %endif

      <fieldset class="group group-form group-form-requiredinformation">
        <legend class="sr">${_("Required Information")}</legend>

        <ol class="list-input field-error">
          <li class="field required password ${'error' if 'new_password1' in form.errors else ''}" id="field-new_password1">
            <label for="new_password1">${_("Your New Password")}</label>
            <input id="new_password1" type="password" name="new_password1" placeholder="*****" />
          </li>
          <li class="field required password ${'error' if 'new_password2' in form.errors else ''}" id="field-new_password2">
            <label for="new_password2">${_("Your New Password Again")}</label>
            <input id="new_password2" type="password" name="new_password2" placeholder="*****" />
          </li>
        </ol>
      </fieldset>

      <div class="form-actions">
        <button name="submit" type="submit" id="submit" class="action action-primary action-update">${_("Change My Password")}</button>
      </div>
    </form>
    %else:
    <header>
      <h2 class="sr">${_("Your Password Reset Was Unsuccessful")}</h2>
    </header>
    <p>
      Le lien de ré-initialisation du mot de passe est incorrect, sans doute parce qu'il a déjà été utilisé.
      <br>
      Retournez sur la <a href="/login">page de connexion</a> pour recommencer la procédure.
    </p>
    %endif
  </section>

  %if validlink:
  <aside role="complementary">
    <header>
      <h3 class="sr">${_("Password Reset Help")}</h3>
    </header>

    <div class="cta cta-help">
      <h3>${_("Need Help?")}</h3>
      <p>
        Visualiser les  <a href="${marketing_link('FAQ')}">questions fréquemment posées</a>.
      </p>
    </div>
  </aside>
  %endif
</section>
