/* ==========================================================================
   Content
   ========================================================================== */

section.content-wrapper,
.view-register .content-wrapper,
.view-login .content-wrapper,
.view-passwordreset .content-wrapper {
    background-color: #eef0f1;
}

.view-register section.content-wrapper .container,
.view-register section.content-wrapper .introduction,
.view-login section.content-wrapper .container,
.view-login section.content-wrapper .introduction,
.view-passwordreset section.content-wrapper .container,
.view-passwordreset section.content-wrapper .introduction {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: auto;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: none;
}

.view-register section.content-wrapper .container > section.content,
.view-login section.content-wrapper .container > section.content,
.view-passwordreset section.content-wrapper .container > section.content {
    width: auto;
    min-width: 700px;
    margin: 20px 30px 0 0;
}

.view-login section.content-wrapper .introduction > header,
.view-register section.content-wrapper .introduction > header,
.view-passwordreset section.content-wrapper .introduction > header {
    height: auto;
    margin-top: 30px;
    border-bottom: 1px solid #8a8c8f;
}

.view-login section.content-wrapper .introduction > header > h1.title,
.view-register section.content-wrapper .introduction > header > h1.title,
.view-passwordreset section.content-wrapper .introduction > header > h1.title {
    position: static;
    padding: 0;
    margin: 0 0 30px 0;
}

.view-login section.content-wrapper .introduction > header > h1.title > span.title-super,
.view-login section.content-wrapper .introduction > header > h1.title > span.title-sub,
.view-register section.content-wrapper .introduction > header > h1.title > span.title-super,
.view-register section.content-wrapper .introduction > header > h1.title > span.title-sub,
.view-passwordreset section.content-wrapper .introduction > header > h1.title > span.title-super,
.view-passwordreset section.content-wrapper .introduction > header > h1.title > span.title-sub {
    text-transform: none;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.view-login .wrapper-footer > footer,
.view-register .wrapper-footer > footer,
.view-passwordreset .wrapper-footer > footer,
.wrapper-footer > footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: auto;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper-footer > footer > p {
    color: #fff;
    font-size: 14px;
}


/* ==========================================================================
   Header
   ========================================================================== */

header.global,
header.global.slim {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    height: 100px;
    padding: 0;
    border-bottom: 1px solid #f2f1eb;
}

header.global > nav,
header.global.slim > nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: auto;
    width: auto;
    padding: 15px 10px 0px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.view-login header.global > nav,
.view-register header.global > nav {
    width: auto;
}

header.global.slim > nav h1.logo:before {
    display: none;
}

header.global.slim > nav h2 {
    padding: 0;
    color: white;
    text-shadow: none;
    margin: 25px 10px 0 10px;
}

header.global.slim > nav h2 span {
    color: #eef0f1;
}

header.global > nav h1.logo,
header.global.slim > nav h1.logo {
    margin: -2px 39px 0px 0px;
    padding: 0;
    float: left;
}

header.global > nav h1.logo img,
header.global.slim > nav h1.logo img {
    height: auto;
}

header.global ol.nav-global {
    margin-top: 24px;
}

.view-login header.global ol.nav-global li a,
.view-register header.global ol.nav-global li a,
header.global ol.nav-global li a {
    font-weight: normal;
    color: #eef0f1 !important;
}

.view-login header.global ol.nav-global li a:hover,
.view-register header.global ol.nav-global li a:hover,
header.global ol.nav-global li a:hover {
    color: #fff !important;
}

header.global ol.nav-courseware {
    margin-top: 20px;
}

.view-login header.global ol.nav-courseware li a.cta-login,
header.global ol.nav-courseware li a.cta-login {
    -webkit-transition: none;
    transition: none;
    -webkit-border-radius: 0;
    border-radius: 0;

    display: inline-block;
    background-color: #eef0f1;
    color: black;
    font-size: 14px;
    padding: 10px 15px;
}

header.global ol.nav-courseware li a.cta-login:hover {
    background-color: #fff;
}

header.global ol.user {
    margin-top: 20px;
}

header.global ol.user ul.dropdown-menu {
    right: -3px;
    border: 0 none;
    padding: 4px 8px;
    z-index: 10;
}

header.global ol.user ul.dropdown-menu li > a {
    border: 0 none;
    outline: none;
    color: #303030;
}

header.global ol.user ul.dropdown-menu li > a:hover {
    background-color: #eef0f1;
}

header.global ol.user > li.primary > a {
    border: 0 none;
    background-color: #eef0f1;
}

header.global ol.user > li.primary > a:hover {
    background-color: #fff;
}

/* ==========================================================================
   Dashboard
   ========================================================================== */

section.dashboard section.profile-sidebar header.profile {
    display: none;
}

section.dashboard section.profile-sidebar section.user-info {
    border-right: 1px solid #ddd;
}

section.dashboard section.profile-sidebar section.user-info > ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: none;
    border: 0 none;
    padding: 0 10px 10px
}

section.dashboard section.my-courses .empty-dashboard-message {
    padding: 20px 0;
}

section.dashboard section.my-courses .empty-dashboard-message > a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    margin: 0;
    padding: 8px 12px;
    background-color: #fff;
    border-color: #ddd;
}
