$ioc-black-0: #000;
$ioc-black-1: #3c3c3c;
$ioc-black-2: #2e2e2e;
$ioc-grey-0: #303030;
$ioc-grey-1: #8a8c8f;
$ioc-grey-2: #ddd;
$ioc-grey-3: #eee;
$ioc-grey-4: #fbfbfb;
$ioc-grey-5: #eef0f1;
$ioc-blue: #2daae1;
$ioc-blue-light: #00b9f2;
$ioc-blue-dark: #0f70b7;
$ioc-white: #fff;
$ioc-pink: #ec008c;
$ioc-red: #e2001a;
$ioc-green: #41ad49;

$sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$serif: $sans-serif;

$border-color-1: $ioc-grey-2;
$border-color-2: $ioc-grey-2;
$border-color-3: $ioc-grey-2;
$outer-border-color: $ioc-grey-2;

$homepage-bg-image: '../themes/ioc-edx-theme/images/ionis-online.jpg';
$login-banner-image: none;
$register-banner-image: none;
$video-thumb-url: '../themes/ioc-edx-theme/images/ionis-video-thumb.png';

$baseline: 20px;

$link-color: $ioc-blue;
$link-color-d1: $ioc-blue;
$link-hover: $ioc-pink;
$site-status-color: $ioc-pink;

$action-primary-bg: $ioc-blue-dark;
$action-primary-focused-bg: $ioc-blue;
$action-primary-fg: $ioc-white;
$action-primary-shadow: transparent;

$header-graphic-super-color: $ioc-blue;
$header-graphic-sub-color: $ioc-black-1;

$body-bg: $ioc-grey-0;
$container-bg: $ioc-white;
$login-register-bg: $ioc-grey-4;
$content-wrapper-bg: $ioc-grey-4;
$header-bg: $ioc-grey-0;

$footer-bg: $ioc-grey-0;
$footer-fg: $ioc-white;

$course-bg-color: $ioc-grey-0;

$shadow-color: $ioc-grey-3;

$header-image: none;
$header_image_margin: 0;
$course-bg-image: none;

$base-font-color: $ioc-black-2;
$lighter-base-font-color: $ioc-black-2;
$very-light-text: $ioc-grey-4;

$button-color: $ioc-blue-dark;
$button-archive-color: lighten($ioc-grey-5, 90%);
$button-bg-image: none;
$button-bg-color: $ioc-grey-5;
$button-bg-hover-color: $ioc-white;

$action-primary-bg: $ioc-blue-dark;
$action-primary-fg: $ioc-grey-4;
$action-primary-shadow: none;

$action-primary-focused-bg: $ioc-blue;
$action-primary-focused-fg: $ioc-grey-4;

$action-primary-active-bg: $ioc-blue;
$action-primary-active-fg: $ioc-grey-4;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $ioc-grey-4;
$action-primary-active-focused-shadow: none;

$action-primary-disabled-bg: $ioc-grey-1;
$action-prmary-disabled-fg: $ioc-grey-4;

$action-secondary-disabled-bg: $ioc-grey-1;
$action-secondary-disabled-fg: $ioc-grey-2;

$account-content-wrapper-bg: $ioc-grey-5;
$course-profile-bg: $ioc-grey-5;
$form-bg-color: $ioc-white;
$modal-bg-color: $ioc-grey-5;

$course-header-bg: transparentize($ioc-grey-4, .1);

$sidebar-chapter-bg-top: transparentize($ioc-grey-4, .3);
$sidebar-chapter-bg-bottom: transparentize($ioc-grey-4, .9);
$sidebar-chapter-bg: $ioc-grey-3;
$sidebar-active-image: $ioc-grey-1;
